*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnopen-modal {
    width: 150px;
    height: 3rem;
    border: 2px solid #008cff;
    color: #008cff;   
    border-radius: 15px;
    background-color: transparent;
}

#modal-box{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: rgba(0, 0 ,0, 0.5);
}

#modal-box.open {
    display: flex;
}

.modal {
    width: 380px;
    height: 300px;
    padding: 20px;
    backdrop-filter: blur(10px);
    border: 2px solid #f2647b;
    border-radius: 15px;
    color: #f2647b;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-bottom: px solid #f2647b;
}

#btnclose-modal {
    width: 35px;
    height: 35px;
    border:  2px solid #f2647b;
    border-radius: 10px;
    color: #f2647b;
    background-color: transparent;
    cursor: pointer;
}

.modal p {
    margin-top: 1rem;
    text-align: justify;
}

@media(max-width:450px){

    .modal {
        width: 350px;
    }
}

